.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px; /* Ajusta el espacio vertical entre los elementos */
  }
  